/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*
*
*
*
*
*/
* {
  box-sizing: border-box; }

body {
  font-family: p22-underground; }

header {
  height: 4rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  position: relative; }
  header h1 {
    text-transform: uppercase; }
  header img {
    height: 3rem;
    margin: 0.5rem 1rem; }
  header #status-indicator {
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 0 auto;
    padding: 0 1rem;
    text-align: right;
    border-left: 1px solid grey; }
    header #status-indicator li {
      position: relative;
      -webkit-animation: status-enter 1s ease-in;
              animation: status-enter 1s ease-in; }
      header #status-indicator li:not(:first-child) {
        width: 0px; }

#app {
  height: calc(100vh - 4rem);
  overflow: scroll;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.65;
  opacity: 1;
  -webkit-transition: 0.5s opacity;
          transition: 0.5s opacity; }
  #app button {
    opacity: 1;
    -webkit-transition: 0.5s opacity;
            transition: 0.5s opacity; }
  #app .search-results {
    display: none;
    max-width: 750px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    height: 100%; }
    #app .search-results li {
      max-width: 350px;
      width: 100%;
      overflow: hidden;
      height: 700px;
      margin-top: 50px;
      box-shadow: 0 1px 4px 0 grey;
      text-align: left; }
      #app .search-results li:nth-child(odd) {
        margin-right: 50px; }
      #app .search-results li .picture {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
           object-fit: cover;
        position: relative;
        overflow: hidden; }
        #app .search-results li .picture.noimage {
          background-color: grey; }
        #app .search-results li .picture img {
          width: 100%; }

.searchStarted #app button {
  opacity: 0; }

.searchFinished #app {
  opacity: 0; }

.searchReady #app {
  opacity: 1; }
  .searchReady #app .welcome {
    display: none; }
  .searchReady #app .search-results {
    display: -webkit-box;
    display: flex; }

@-webkit-keyframes status-enter {
  0% {
    left: 200%; }
  100% {
    left: 0%; } }

@keyframes status-enter {
  0% {
    left: 200%; }
  100% {
    left: 0%; } }
